* {
  margin: 0;
  padding:0;
}

body {

  font-family: 'Open Sans', sans-serif;
}

#container {
  /* background: green; */
  width: 50%;
  padding: 20px 40px;
  line-height: 1.68;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
  font-size: 3em;
  line-height: 4em;
}

.pullquote {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color: #D3D3D3;
  font-size: 1.5em;
}